<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<style>

    * {
        margin: 0%;
        padding: 0%;
    }

    .invisible {
        opacity: 0;
    }
    
    #container_Lv1 {
        position: relative;
        width: 290px;
        margin: 2em auto;
        
        overflow: hidden;
        border-radius: 1em;
    }
    #container_Lv0 {
        display: flex;
        min-width: fit-content;
    }
        .container_Lv0 {
            position: relative;
            height:35vh;
            width: 290px;
            overflow:hidden;
            min-height:290px
        }
        .container_Lv0 img{
            user-select: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(calc(-50%)) translatey(calc(-50%));
            max-height:380px;
            max-width: 530px;
        }
        #next_Btn_div {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(calc(-50%));
            background-color: white;
            padding-top: 0.4em;
            padding-bottom: 0.4em;
            padding-left: 0.6em;
            padding-right: 0.6em;
            border-radius: 2em;
            transition: opacity 0.3s ease-in-out;
        }
            #next_Btn_div svg{
                transform: translateX(0.1em) translateY(0.1em);
            }
            #next_Btn_div:active {
                transform: translateY(calc(-50%)) scale(0.9);
                box-shadow: 1px 1px 2px black;
            }
        #prev_Btn_div {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(calc(-50%));
            background-color: white;
            padding-top: 0.4em;
            padding-bottom: 0.4em;
            padding-left: 0.6em;
            padding-right: 0.6em;
            border-radius: 2em;
            transition: opacity 0.3s ease-in-out;
        }
            #prev_Btn_div svg{
                transform: translateX(-0.1em) translateY(0.1em);
            }
            #prev_Btn_div:active {
                transform: translateY(calc(-50%)) scale(0.9);
                box-shadow: 1px 1px 2px black;
            }
        
        #radio_Btns_container {
            position:absolute;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 80%;
            transition: opacity 0.3s ease-in-out;
        }
        .radio_Btn_div {
            margin-left: 0.3em;
            margin-right: 0.3em;
            cursor: pointer;
        }
    
    
</style>
<body>
    
        <!-- 1er niveau -->
        <div id="container_Lv0">
            
            <!-- 2eme niveau -->
            <div id="container_Lv1"></div>

        </div>




    
</body>
<script>
// container niveau 0
let images_Lv0 = document.getElementById('container_Lv0');
// container niveau 1
let images_Lv1 = document.getElementById('container_Lv1');

{# console.log('here');
function Make_Img_Slider(array_of_images) {
let array_d_images = array_of_images;
    console.log('array');
    console.log(array_of_images);
    
    

    test2.src = array_of_images;
}

function image() {
    var img = document.createElement("IMG");
    img.src = array_of_images ;
    $('#image').html(img); 
} #}

function Make_Img_Slider(array_of_images) {
    
    /*je créé mes divs et mes boutons*/
    
    
    // ------------------------------ 3ème niveau CONTAINER LV0 ------------------------------------------------
    
    let images_Lv0 = document.createElement('div');
    images_Lv0.id = 'container_Lv0';
    // j'ajoute un  noeud enfant au container lv1, appelé container Lv0
    images_Lv1.appendChild(images_Lv0);
    
    let next_Btn = document.createElement('div');
    next_Btn.id = 'next_Btn_div';
    next_Btn.innerHTML = '<svg id="next_Btn" stroke="#1D2026" width="13" height="18" xmlns="http://www.w3.org/2000/svg"><path d="m2 1 8 8-8 8" stroke-width="3" fill="none" fill-rule="evenodd"/></svg>';
                images_Lv1.appendChild(next_Btn);
                
                let prev_Btn = document.createElement('div');
                prev_Btn.id = 'prev_Btn_div';
                prev_Btn.innerHTML = '<svg id="prev_Btn" stroke="#1D2026" width="12" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M11 1 3 9l8 8" stroke-width="3" fill="none" fill-rule="evenodd"/></svg>';
                images_Lv1.appendChild(prev_Btn);
                
                let radio_Btns_container = document.createElement('div');
                radio_Btns_container.id = 'radio_Btns_container';
                images_Lv1.appendChild(radio_Btns_container);
                

                let array_d_images = array_of_images;
                console.log(array_d_images);
                
                images_Lv1.classList.remove('hidden');
                images_Lv0.classList.remove('hidden');
                
                //Counter to make the image slider move... Starts at 1 so that the first image shown is not the clone one...
                let counter = 1; 


                

                        /* -------------------  container_Lv0   ------------------------*/
                        // je créé l'élément enfant Lv0 et je lui donne la classe lv0
                        let container_Lv0 = document.createElement('div');
                            container_Lv0.classList.add('container_Lv0');
                            images_Lv0.appendChild(container_Lv0);
                            let image_temp = new Image();
                            image_temp.src = array_d_images[array_d_images.length-1];
                            container_Lv0.appendChild(image_temp);
                            //Placing all the other images...
                            for (let i = 0; i < array_d_images.length; i++) {

                                let image_temp = new Image();
                                image_temp.src = array_d_images[i];
                                let container_Lv0 = document.createElement('div');
                                container_Lv0.classList.add('container_Lv0');
                                images_Lv0.appendChild(container_Lv0);
                                container_Lv0.appendChild(image_temp);
                            }
                            //Placing the first image's clone at last to smoothen out the transition....
                            let container_Lv0_2 = document.createElement('div');
                            container_Lv0_2.classList.add('container_Lv0');
                            images_Lv0.appendChild(container_Lv0_2);
                            let image_temp2 = new Image();
                            image_temp2.src = array_d_images[0];
                            container_Lv0_2.appendChild(image_temp2);



                        //Making radio buttons numbers and styling
                        radio_Btns_container.classList.add('invisible');
                        for (let i = 0; i < array_d_images.length; i++) {
                            
                            let radio_Btn_div = document.createElement('span');
                            radio_Btn_div.classList.add('radio_Btn_div');
                            radio_Btn_div.innerHTML = '<svg class="radio_Btn" fill="hsl(0, 0%, 45%)" xmlns="http://www.w3.org/2000/svg" width="15" height="15" version="1.1"><circle cx="7.5" cy="7.5" r="7.5" ></circle></svg>';

                            radio_Btns_container.appendChild(radio_Btn_div);
                        }
                        images_Lv0.style.transform = 'translateX(-' + (290*counter) + 'px)'
                        //Slecting the radio buttons with class radio_Btn with query selector all so that I can make their color diff with indexing...
                        let radio_Btn_es = document.querySelectorAll('.radio_Btn'); 
                        radio_Btn_es[0].style.fill = 'grey';




                        // Making radio buttons and nex and prev show up when mouse enters the image slider and making them invisible when mouse enters...
                        /*images_Lv1.addEventListener('mouseenter' , ()=>{
                            radio_Btns_container.classList.remove('invisible');
                            next_Btn.classList.remove('invisible');
                            prev_Btn.classList.remove('invisible');
                        });
                        if(array_of_images.length<=2){
                            console.log(array_of_images.length);
                            radio_Btns_container.classList.add('invisible');
                            next_Btn.classList.add('invisible');
                            prev_Btn.classList.add('invisible');}
                        });*/

                        //Adding eventlistener for click on all radio buttons to enable them navigate through the images...￼
                        for (let i = 0; i < radio_Btn_es.length; i++) {
                            radio_Btn_es[i].addEventListener('click',()=>{
                                images_Lv0.style.transition = 'none';
                                counter = i + 1;
                                images_Lv0.style.transform = 'translateX(-' + (290*counter) + 'px)';

                                for (let i = 0; i < radio_Btn_es.length; i++) {
                                    radio_Btn_es[i].style.fill = 'hsl(0, 0%, 45%)';
                                }

                                radio_Btn_es[i].style.transition = 'fill 0.4s ease-in-out';
                                radio_Btn_es[i].style.fill = 'darkviolet';
                            });
                        }


                        next_Btn.addEventListener('click',()=>{
                            if (counter < array_d_images.length+1){
                                images_Lv0.style.transition = 'transform 0.6s ease-in-out';
                                counter++;
                                images_Lv0.style.transform = 'translateX(-' + (290*counter) + 'px)';

                                for (let i = 0; i < radio_Btn_es.length; i++) {
                                    radio_Btn_es[i].style.fill = 'hsl(0, 0%, 45%)';
                                }


                                if (radio_Btn_es.length == counter - 1) {
                                    radio_Btn_es[0].style.transition = 'fill 0.4s ease-in-out';
                                    radio_Btn_es[0].style.fill = 'darkviolet';     
                                }else{
                                    radio_Btn_es[counter-1].style.transition = 'fill 0.4s ease-in-out';
                                    radio_Btn_es[counter-1].style.fill = 'darkviolet';
                                }
                            }
                        })
                        prev_Btn.addEventListener('click',()=>{
                            if (counter > 0){
                                images_Lv0.style.transition = 'transform 0.6s ease-in-out';
                                counter--;
                                images_Lv0.style.transform = 'translateX(-' + (290*counter) + 'px)'

                                for (let i = 0; i < radio_Btn_es.length; i++) {
                                    radio_Btn_es[i].style.fill = 'hsl(0, 0%, 45%)';
                                }

                                if (counter == 0) {
                                    radio_Btn_es[radio_Btn_es.length-1].style.transition = 'fill 0.4s ease-in-out';
                                    radio_Btn_es[radio_Btn_es.length-1].style.fill = 'darkviolet';     
                                }else{
                                    radio_Btn_es[counter-1].style.transition = 'fill 0.4s ease-in-out';
                                    radio_Btn_es[counter-1].style.fill = 'darkviolet';
                                }
                            }
                        })

                        next_Btn.addEventListener('mouseenter',()=>{
                            let style = document.createElement('style');
                            style.innerHTML = `
                            #next_Btn_div svg {
                                stroke: darkviolet;
                            }
                            `;
                            document.head.appendChild(style);
                        })
                        next_Btn.addEventListener('mouseleave',()=>{
                            let style = document.createElement('style');
                            style.innerHTML = `
                            #next_Btn_div svg {
                                stroke: #1D2026;
                            }
                            `;
                            document.head.appendChild(style);
                        })

                        prev_Btn.addEventListener('mouseenter',()=>{
                            let style = document.createElement('style');
                            style.innerHTML = `
                            #prev_Btn_div svg {
                                stroke: darkviolet;
                            }
                            `;
                            document.head.appendChild(style);
                        })
                        prev_Btn.addEventListener('mouseleave',()=>{
                            let style = document.createElement('style');
                            style.innerHTML = `
                            #prev_Btn_div svg {
                                stroke: #1D2026;
                            }
                            `;
                            document.head.appendChild(style);
                        })


                        images_Lv0.addEventListener('transitionend', ()=>{

                            if (counter == array_d_images.length+1) {
                                images_Lv0.style.transition = 'none';
                                counter = 1;
                                images_Lv0.style.transform = 'translateX(-' + (290*counter) + 'px)';

                            }else if (counter == 0) {
                                images_Lv0.style.transition = 'none';
                                counter = array_d_images.length;
                                images_Lv0.style.transform = 'translateX(-' + (290*counter) + 'px)';
                            }
                        });




                    //This commented code is thee to make image slider go way when clicked outside of tjhe images_Lv1..
                        // document.addEventListener("mouseup", function(event) {
                        //     let obj = images_Lv1;
                        //     if (!obj.contains(event.target)) {
                        //         images_Lv1.classList.add('hidden');
                        //         images_Lv0.classList.add('hidden');
                        //         images_Lv0.innerHTML = '';
                        //         radio_Btns_container.innerHTML = '';


                        //         // *******************************************************************************************************
                        //         // *******************************************************************************************************
                        //         //Removing all the event listeners... By replacing their functions by EmptyFunction() which does nothing..


                        //         // Making radio buttons and nex and prev show up when mouse enters the image slider and making them invisible when mouse enters...
                        //         images_Lv1.addEventListener('mouseenter' , EmptyFunction);
                        //         images_Lv1.addEventListener('mouseleave' , EmptyFunction);

                        //         //Adding eventlistener for click on all radio buttons to enable them navigate through the images...￼
                        //         for (let i = 0; i < radio_Btn_es.length; i++) {
                        //             radio_Btn_es[i].addEventListener('click',EmptyFunction);
                        //         }


                        //         next_Btn.addEventListener('click',EmptyFunction)
                        //         prev_Btn.addEventListener('click',EmptyFunction)

                        //         next_Btn.addEventListener('mouseenter',EmptyFunction)
                        //         next_Btn.addEventListener('mouseleave',EmptyFunction)

                        //         prev_Btn.addEventListener('mouseenter',EmptyFunction)
                        //         prev_Btn.addEventListener('mouseleave',EmptyFunction)


                        //         images_Lv0.addEventListener('transitionend', EmptyFunction);
                        //         array_d_images = [];



                        //         images_Lv0.remove()
                        //         next_Btn.remove()
                        //         prev_Btn.remove()
                        //         radio_Btns_container.remove()

                        //     }
                        // });
                    }


                    function EmptyFunction() {
                        console.log('Empty_Function..');
                    }


                    console.log("hey")
                    //******************************************************************************************************************************************************
                    //This is where you put your images...






</script>

</html>