{% extends "base.html.twig" %}




{% block body %}
<a class="btn btn-success" href="{{ path('fiche_annonce' ,  {'id' : annonce.id} ) }}">Retour au produit</a>

<div class="container mt-1 ">
        <div class="col-md-6">
            {{ form_start(formComment) }}
            {{ form_row(formComment.commentaire) }}
          </div>
</div>

	<input type="submit"  value="Ajouter un commentaire" class="btn btn-dark col-md-12 mt-3">
	{{ form_end(formComment) }}

{% endblock %}