body {
        font-family: 'Poppins', sans-serif !important;
        background-image:url('../../images/fond.jpg');
    }


.gris {
        
        background-color: rgb(255, 255, 255);
        height: 90%;
        /* border: 1px solid red!important; */
        
} 

.blanc{
        
        height: 90%;
        /* border: 1px solid red; */
        
} 
.blancmiddle{
        height: 90%;
        
        background-repeat: no-repeat;
        padding:10px 15px;


}
#blancmiddle{
        display:flex;
        flex-direction:row;
}

.bottom{
        position: absolute;margin: 19% 30%;width: 30%;
}
#map {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 1em;
        right: 1em;
        z-index: 100;
        height:auto;
        width:auto;
        border-radius: 1%;
      }
      
      #preview {
        position: absolute;
        bottom: 40px;
        right: 10px;
        border: 2px solid grey;
        width: 30px;
        height: 30px;
        object-fit: cover;
        z-index: 1000;
      
      }
    
       .mapboxgl-popup-content {
            height:280px;
            width:274px;
            border-radius:3%;
            padding:0;
            background-color:ghostwhite;
            font-family: 'Poppins', sans-serif;
            font-size:1.2em;
            overflow:hidden;
            }
    
    
    .mapboxgl-ctrl .mapboxgl-ctrl-group { position: absolute; bottom: 0; right: 0; width: 100%; }
    
    .card:hover {
    
      transform: scale(1.05);
    transition-duration: 140ms
    };

#container {
        position: fixed;
        top: 126px;
        bottom: 0px;
        left: 880px;
        right: 14px;
        border-radius: 1%;
        height: 60vh;
    
      }


@media screen and (max-width: 991px) {
        #blancmiddle {
                flex-direction:column;
        }
        .bottom{
        position: absolute;
        margin: 43% 27%;
        width: 50%;
        }

    }
@media screen and (min-width: 991px) {
        #blancmiddle p {
                font-size: 3em;
                margin-top: 119px;
                
                width: 487px;
                margin-left: 258px;
        }
        .middle-p{

                margin-left: 5px;
                padding: 2px;
                margin-top: 5px;
                width: 25%;
        }
        #container {
                position: fixed;
                top: 126px;
                bottom: 0px;
                left: 880px;
                right: 14px;
                border-radius: 1%;
                height: 80vh;
            
        }
        .top{
                height:85vh!important;
                margin-top:2em
        }

    }



.grisbottom{
        height: 90%;
        background-image:url('../../images/bottom_bg.jpg');
        opacity: 0.5;
        background-repeat: no-repeat;
        

}
.row{
        margin-right: 0!important;
        margin-left: 0!important;
        height:100%;
        width:auto;
        /* border:1px solid blue; */
}




.left {
        display: flex;
    min-width: 258.98px;
    height: 95%;
    justify-content: space-between;
    flex-direction: column;
        }
.annonce{

        
        border: 1px solid rgb(151, 135, 135);
        
        border-radius: 3%;
}
.annonce2_3{
        min-width: 198px;
        border: 1px solid rgb(153, 141, 141);
        margin: 2% auto;
        border-radius: 3%;
        z-index: 100;
        text-align: center;
        margin-bottom:0;
        }

.mapboxgl-popup-close-button{
        visibility: hidden;
}



.map-container{
        overflow:hidden;
        border-radius: 1%;
        position:relative;
        height:100%;
        }
        .map-container iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }

.row {
--bs-gutter-x: 0rem;
--bs-gutter-y: 0;
border-color: 1px solid black;


}

.annonce button{
        text-align: justify;
        margin:auto 5%;
        justify-content: space-around;
}
.annonce-2_3 a{
        text-align: justify;
        
        justify-content: space-around;
}
        

.row-comment{
        display:flex;
        margin: 0;
        padding: 15px 15px 5px 15px;
        border-bottom: 3px solid #7b7b7b;
        
}
.row-comment:hover {
        background-color: rgb(243, 237, 237);
      }

      .long_text{
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
      }

#sticky-index {
        position: sticky;
        top: 80px;
}


.span-link {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 9999;
      }


.hover{
        fill:red;
        background-color: yellow;
}



.navbartwo > .navbar .navbar-inner {
        /* background-color: #662D91; */
        background-image: none; 
        background-repeat: repeat-x;
        /* border: 1px solid #662D91; */
        border-radius: 4px;
        box-shadow: none;
        min-height: 32px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbartwo > .navbar .brand {
      display: block;
      float: left;
      padding: 10px 20px 10px;
      margin-left: -20px;
      font-size: 15px;
      font-weight: 200;
      color: #fff;
      text-shadow: none;
    }
    
    .navbartwo > .navbar .nav > li > a {
      float: none;
      padding: 10px 15px 10px;
      color: #fff;
      text-decoration: none;
      text-shadow: none;
      display: inline;
    }
    
    .navbartwo > .navbar .nav > li > a:focus,
    .navbartwo > .navbar .nav > li > a:hover {
      text-decoration: none;
      background-color: #fff;
    }


 /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    10000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.carto{

        width:700px;
        height:700px
}

.mapboxgl-canvas{

        height: auto!important;
}

.right{

        height: 95%;
        width: 100%;
        margin-right: 0;
        border: 1px rgb(142, 142, 219);
        margin-left: 0;
}

.wrapper {
        background:url(https://i.gyazo.com/74f0fa6b9d9ed6652f3e220ceae113cf.png) no-repeat center;
        width: 100%;
        background-repeat: repeat!important;
    }
    .wrapper:before, .wrapper:after {
        content:'';
        /* width: calc((100% - 900px) / 2); setting the width to the 100% minus your desired header's width / 2 so it will occupy the rest of your content */
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.1);   /*set the desired opacity*/
    }
    .wrapper:before {
        left: 0;
    }
    .wrapper:after {
        right: 0;
    }
    .banner {
        width: 100%;
        height:2em;
        margin: 0 auto;
    }

    