body {
        
        padding:0;
        
    }
.main{
        height: 90vh;
        margin: 30 auto;
        
        display:flex;
        min-height: 660px;
        padding:1%;
        
        
        
}

.right {
        height: 90%;
        
        margin:10px auto;
        
           
}

.left {
        height: 90%;
        min-width: 200px;
        
        margin:10px auto;
        }
.annonce{

        
        border: 1px solid rgb(151, 135, 135);
        
        border-radius: 3%;
}
.annonce2_3{
        min-width: 198px;
        border: 1px solid rgb(153, 141, 141);
        margin: 2% auto;
        border-radius: 3%;
        z-index: 100;
        text-align: center;
        }





.map-container{
        overflow:hidden;
        border-radius: 1%;
        position:relative;
        height:100%;
        }
        .map-container iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }

.row {
--bs-gutter-x: 0rem;
--bs-gutter-y: 0;
border-color: 1px solid black;


}

.annonce button{
        text-align: justify;
        margin:auto 5%;
        justify-content: space-around;
}
.annonce-2_3 a{
        text-align: justify;
        
        justify-content: space-around;
}
        

.row-comment{
        display:flex;
        margin: 0;
        padding: 15px 15px 5px 15px;
        border-bottom: 3px solid #7b7b7b;
        
}
.row-comment:hover {
        background-color: rgb(243, 237, 237);
      }

      .long_text{
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
      }

#sticky-index {
        position: sticky;
        top: 60px;
}

