body {
        font-family: 'Poppins', sans-serif !important;
        background-image:url('../../images/fond.jpg');
    }


.gris {
        
        background-color: rgb(255, 255, 255);
        height: 90%;
        /* border: 1px solid red!important; */
        
} 

.blanc{
        
        height: 90%;
        /* border: 1px solid red; */
        
} 
.blancmiddle{
        height: 90%;
        
        background-repeat: no-repeat;
        padding:10px 15px;


}
#blancmiddle{
        display:flex;
        flex-direction:row;
}

.bottom{
        position: absolute;margin: 19% 30%;width: 30%;
}

      
      #preview {
        position: absolute;
        bottom: 40px;
        right: 10px;
        border: 2px solid grey;
        width: 30px;
        height: 30px;
        object-fit: cover;
        z-index: 1000;
      
      }
    
       .mapboxgl-popup-content {
            height:280px;
            width:274px;
            border-radius:3%;
            padding:0;
            background-color:ghostwhite;
            font-family: 'Poppins', sans-serif;
            font-size:1.2em;
            overflow:hidden;
            }
    
    
.mapboxgl-ctrl .mapboxgl-ctrl-attrib{

        margin: 0 20px;
}
    .mapboxgl-ctrl .mapboxgl-ctrl-group { position: absolute; bottom: 0; right: 0; width: 100%; }
    
    .card:hover {
    
      transform: scale(1.05);
    transition-duration: 140ms
    };

    #container {
        position: fixed;
        top: 126px;
        bottom: 0px;
        left: 880px;
        right: 14px;
        border-radius: 1%;
        height: 60vh;
    
      }
      .marker{
              background-color: black;
              color:white
      }


        @media screen and (max-width: 991px) {
                #blancmiddle {
                        flex-direction:column;
                }
                .bottom{
                position: absolute;
                margin: 43% 27%;
                width: 50%;
                }

                #carto-mini{
                position: fixed !important;
                bottom: 48px !important;
                z-index: 10000 !important;
                white-space: nowrap !important;
                left: 33% !important;
                /* font-size: 1.1em; */
                
                border-radius: 24px !important;
                border: 1px solid rgba(0, 0, 0, 0.08) !important;
                outline: none !important;
                margin: 0px !important;
                padding: 11px 19px !important;
                color: white !important;
                cursor: pointer !important;
                touch-action: manipulation !important;
                
                width:117.38px;
                background:url(https://i.gyazo.com/74f0fa6b9d9ed6652f3e220ceae113cf.png) no-repeat center;
                
                background-repeat: repeat!important;
                
                }
                #map{
                        
                        visibility: hidden;
                        height:700px;
                        border-radius: 24px;
                }
                #container{
                        visibility: hidden;
                        position: fixed!important;
                        top: 126px!important;
                        /* left: 3%; */
                        width: 354px;
                        
                        height: 700px;
                        margin: 0 auto;
                        right: 3%;
                }
                #container-accueil{
                        
                        top: 33px       !important;
                        
                        width: 354px;
                        
                        height: 700px;
                        margin: 0 auto;
                        right: 3%;
                }
                .map-visible{
                        height: 670px!important;
                        visibility: visible!important;

                }

                .red{
                        background-color: red;
                        visibility:visible;
                }
                #canvas .mapboxgl-canvas{
                        
                        height: 700px!important;
                        width:400px;
                        left:50%;
                        
                }
                .invisible{
                        visibility:hidden;

                }
                .trouvees{
                        margin-top: -4.8em!important; 
                }
                .navnartwo{
                        height: 73px
                }
                .card{
                        width:90%
                }
                .nav-link{
                        color:white!important;
                        font-weight: bold!important;
                }
                #message{
                        position:fixed!important;
                        margin-top: 100%!important;
                        margin-left: 10%!important;
                        margin-right: 10%!important;

                }
                .photo-profil{
                        width:50px!important;
                }

                #map .marker-map{
                        
                        visibility: hidden;
                        height:700px;
                        border-radius: 24px;
                }
                #container .marker-container {
                        
                       
                        /* left: 3%; */
                        width: 80vh;
                        border:1px solid red;
                        height: 60vh;
                        margin: 0 auto;
                        right: 3%;
                }





        }
        @media screen and (max-width: 576px) {
        .photo-profil{
                width:50px!important;

                }
        .fa-camera{
                margin-left: 9.2em!important;

                }
                .long_text{

                        margin-left: 0.5em!important
                }
                .nav-link{
                        color:white!important;
                        font-weight: bold!important;
                }

                .image-catalogue{
                        width:100%;
                        padding:1px
                }
        }
        @media screen and (min-width: 576px) {
                #message{
                        position:fixed!important;
                        margin-top: 45%!important;
                        margin-left: 25%!important;
                        margin-right: 20%!important;
                        
                }
                .image-catalogue{
                        width:60%;
                        padding:1px
                }
                 /* .zoom-photo img:hover{
                        transform: scale(1.5);
                        transition-duration: 140ms;
                        overflow:visible
                
                }; */
                
                
        }
        @media screen and (min-width: 991px) {
                #blancmiddle p {
                        font-size: 3em;
                        margin-top: 119px;
                        
                        width: 487px;
                        margin-left: 258px;
                }
                .middle-p{

                        margin-left: 5px;
                        padding: 2px;
                        margin-top: 5px;
                        width: 25%;
                }
                
                .top{
                        height:85vh!important;
                        margin-top:2em
                }
                .arrow{
                        visibility: hidden;
                }
                .card{
                        width:90%;
                        flex-direction: row!important;
                        min-width: 600px!important;
                        min-width: 625px!important;

                }
                #container {
                position: fixed;
                top: 129px;
                bottom: 0px;
                width:53%;
                right: 0px;
                border-radius: 1%;
                left: 790px;
                        right: 14px;
                        border-radius: 1%;
                        height: 80vh;
                }

                #map {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 1em;
                right: 6.5em;
                z-index: 100;
                height:auto;
                max-width:1000px;
                visibility:visible;
                border-radius: 1%;
                }

                #preview {
                position: absolute;
                bottom: 40px;
                left: 40px;
                border:2px solid grey;
                width: 80px;
                height: 80px;
                object-fit: cover;
                z-index: 1000;

                }

                .mapboxgl-popup-content {
                height:280px;
                width:274px;
                border-radius:3%;
                padding:0;
                background-color:ghostwhite;
                font-family: 'Poppins', sans-serif;
                font-size:1.2em;
                overflow:hidden;
                }


                .mapboxgl-ctrl .mapboxgl-ctrl-group { position: absolute; bottom: 0; right: 0; width: 100%; }
                .image_catalogue{
                        width: 400px!important;
                        
                }



        }



.grisbottom{
        height: 90%;
        background-image:url('../../images/bottom_bg.jpg');
        opacity: 0.5;
        background-repeat: no-repeat;
        

}
.row{
        margin-right: 0!important;
        margin-left: 0!important;
        height:100%;
        width:auto;
        /* border:1px solid blue; */
}

/* .filter-min-max{
        width:120px!important;
        
} */
.filter-min-max{
        width:120px!important;
        
}


.left {
        display: flex;
    min-width: 258.98px;
    height: 95%;
    justify-content: space-between;
    flex-direction: column;
        }
.annonce{

        
        border: 1px solid rgb(151, 135, 135);
        
        border-radius: 3%;
}
.annonce2_3{
        min-width: 198px;
        border: 1px solid rgb(153, 141, 141);
        margin: 2% auto;
        border-radius: 3%;
        z-index: 100;
        text-align: center;
        margin-bottom:0;
        }
.annonce2_3-filter{
        min-width: 220px;
        
        margin: 2% auto;
        border-radius: 3%;
        z-index: 100;
        text-align: center;
        margin-bottom:0;
        }

.mapboxgl-popup-close-button{
        visibility: hidden;
}



.map-container{
        overflow:hidden;
        border-radius: 1%;
        position:relative;
        height:100%;
        }
        .map-container iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }

.row {
--bs-gutter-x: 0rem;
--bs-gutter-y: 0;
border-color: 1px solid black;


}

.annonce button{
        text-align: justify;
        margin:auto 5%;
        justify-content: space-around;
}
.annonce-2_3 a{
        text-align: justify;
        
        justify-content: space-around;
}
        

.row-comment{
        display:flex!important;
        margin: 0;
        padding: 15px 15px 5px 15px;
        border-top: 2px solid #e9e5e5;
        justify-content: space-between
        
}
.row-comment:hover {
        background-color: rgb(243, 237, 237);
      }

      .long_text{
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
      }

#sticky-index {
        position: sticky;
        top: 80px;
}


.span-link {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 9999;
      }


.hover{
        fill:red;
        background-color: yellow;
}



.navbartwo > .navbar .navbar-inner {
        /* background-color: #662D91; */
        background-image: none; 
        background-repeat: repeat-x;
        /* border: 1px solid #662D91; */
        border-radius: 4px;
        box-shadow: none;
        min-height: 32px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbartwo > .navbar .brand {
      display: block;
      float: left;
      padding: 10px 20px 10px;
      margin-left: -20px;
      font-size: 15px;
      font-weight: 200;
      color: #fff;
      text-shadow: none;
    }
    
    .navbartwo > .navbar .nav > li > a {
      float: none;
      padding: 10px 15px 10px;
      color: #fff;
      text-decoration: none;
      text-shadow: none;
      display: inline;
    }
    
    .navbartwo > .navbar .nav > li > a:focus,
    .navbartwo > .navbar .nav > li > a:hover {
      text-decoration: none;
      background-color: #fff;
    }


 /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    10000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.carto{

        width:700px;
        height:700px
}


.right{

        height: 95%;
        width: 100%;
        margin-right: 0;
        border: 1px rgb(142, 142, 219);
        margin-left: 0;
}

.wrapper {
        background:url(https://i.gyazo.com/74f0fa6b9d9ed6652f3e220ceae113cf.png) no-repeat center;
        width: 100%;
        background-repeat: repeat!important;
    }
    .wrapper:before, .wrapper:after {
        content:'';
        /* width: calc((100% - 900px) / 2); setting the width to the 100% minus your desired header's width / 2 so it will occupy the rest of your content */
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.1);   /*set the desired opacity*/
    }
    .wrapper:before {
        left: 0;
    }
    .wrapper:after {
        right: 0;
    }
    .banner {
        width: 100%;
        height:2em;
        margin: 0 auto;
    }

    